$black:                 #484848;
$blue:                  #1fc0fc;
$yellow:                #FFC341;
$gradient:              linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);

$mobile-min-width:     320px;
$mobile-max-width:     767px;

$retina-dppx:          1.5dppx;
